@import url(https://fonts.google.com/specimen/Overpass);
:root {
  --primary-color-orange: hsl(25, 97%, 53%);
  --neutral-color-white: hsl(0, 0%, 100%);
  --neutral-color-light-grey: hsl(217, 12%, 63%);
  --neutral-color-medium-grey: hsl(216, 12%, 54%);
  --neutral-color-dark-blue: hsl(213, 19%, 18%);
  --neutral-color-very-dark-blue: hsl(216, 12%, 8%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: var(--neutral-color-very-dark-blue);
  color: var(--neutral-color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
